html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 20px auto; /* 上下20px， 左右居中*/
  background-color: #ff9500;
  padding: 0 20px 20px 20px; /* 上、右、下、左 */
  border: 5px solid black;
}

h1 {
  margin: 0px;
  padding: 20px 0;
  color: #00539f;
}

p {
  color: #00539f;
  width: 500px;
  border: 1px solid black;
}

a {
  display: block;
}
